<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Gallery</title>
<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="style.css">

 <script src="vue.js" type="text/javascript" charset="utf-8">
    </script>

</head>
<body>
  <div id="mygallery">
    
 <div id="app">
     <h1>{{path}}</h1>
     <div id="foldernav">
     <div class="icon">
      <a v-on:click="levelUp()">
        <i class="fa fa-arrow-up fa-5x" aria-hidden="true"></i>
      </a>
     </div>

<div class="icon" v-for="f in content.folders">
   <a v-on:click="openFolder(f)">
    <i class="fa fa-folder-o fa-5x" aria-hidden="true"></i><br>
{{f}}
   </a>
</div>
     </div>
     <div id="pics">
    <a v-for="pic in content.images" href="{{pic.href}}">
        <img v-bind:src=pic.thumbnail />
    </a>
     </div>
</div>
</div>

<script src="vue.js" type="text/javascript" charset="utf-8">
    </script>
    <script src="app.js" type="text/javascript" charset="utf-8">
    </script>
</body>
</html>
